# SQL_ONE - Análise de Dados com SQL
## Aula 1 - Create Table, Drop, Insert Into, Describe, Order by, Where, In, Like

### 1 - Limpando o diretório
#### Uma boa prática quando estamos realizando testes é limpar nosso diretório para evitar erros de criação de tabelas.

In [0]:
%fs rm -r dbfs:/user/hive/warehouse/pilotos_cidades

### 2 - Drop e Create Table
#### Outra boa prática é verificarmos se a tabela que iremos criar já existe, caso sim, utilizamos o DROP TABLE para excluir, e depois o CREATE TABLE para criá-la.

In [0]:
/* 2 - Criando a estrutura da base de dados com drop table e create table */
DROP TABLE IF EXISTS pilotos_cidades;

CREATE TABLE pilotos_cidades
(
  ID INT,
  NOME VARCHAR(20),
  IDADE INT,
  NATURALIDADE VARCHAR(30)
);

### 3 - Describe
#### Uma vez criada, podemos verificar a estrutura da tabela, ou seja, os tipos de dados para cada coluna, fazemos isso com o DESCRIBE.

In [0]:
-- 3 - Visualizando a estrutura da tabela com describe
DESCRIBE pilotos_cidades;

col_name,data_type,comment
ID,int,null
NOME,varchar(20),null
IDADE,int,null
NATURALIDADE,varchar(30),null

### 4 - Insert Into
#### Podemos inserir dados na tabela criada com o INSERT INTO.

In [0]:
-- 4 - Inserindo dados na tabela com insert into
INSERT INTO
pilotos_cidades
(ID, NOME, IDADE, NATURALIDADE)
VALUES
(1, "Ayrton Senna", 62, "São Paulo"),
(2, "Rubens Barrichello", 50, "São Paulo"),
(3, "Lewis Hamilton", 37, "Stevenage"),
(4, "Michael Schumacher", 53, "Hürth"),
(5, "Max Verstappen", 25, "Hasselt");

num_affected_rows,num_inserted_rows
5,5

### 5 - Select
#### Para visualizarmos os dados da tabela utilizamos SELECT e FROM.

In [0]:
-- 5 - Visualizando os dados com select
SELECT * FROM pilotos_cidades;

ID,NOME,IDADE,NATURALIDADE
1,Ayrton Senna,62,São Paulo
2,Rubens Barrichello,50,São Paulo
3,Lewis Hamilton,37,Stevenage
4,Michael Schumacher,53,Hürth
5,Max Verstappen,25,Hasselt

### 6 - Limit
#### Para limitarmos a quantidade de linhas utilizamos o LIMIT.

In [0]:
-- 6 - Selecionando colunas e quantidade de linhas com limit
SELECT
  NOME,
  NATURALIDADE
FROM pilotos_cidades
LIMIT 3;

NOME,NATURALIDADE
Ayrton Senna,São Paulo
Rubens Barrichello,São Paulo
Lewis Hamilton,Stevenage

### 7 - Order by
#### Utilizamos o ORDER BY para ordenar a visualização de dados de forma decrescente com DESC ou de forma ascendente, passando ou não o ASC.

In [0]:
-- 7 - Ordenando os dados com order by
SELECT
  ID,
  NOME,
  IDADE,
  NATURALIDADE
FROM pilotos_cidades
ORDER BY NOME DESC;

ID,NOME,IDADE,NATURALIDADE
2,Rubens Barrichello,50,São Paulo
4,Michael Schumacher,53,Hürth
5,Max Verstappen,25,Hasselt
3,Lewis Hamilton,37,Stevenage
1,Ayrton Senna,62,São Paulo

In [0]:
-- 8 - Ordenando os dados com order by
SELECT
  ID,
  NOME,
  IDADE,
  NATURALIDADE
FROM pilotos_cidades
ORDER BY 3 ASC;

ID,NOME,IDADE,NATURALIDADE
5,Max Verstappen,25,Hasselt
3,Lewis Hamilton,37,Stevenage
2,Rubens Barrichello,50,São Paulo
4,Michael Schumacher,53,Hürth
1,Ayrton Senna,62,São Paulo

### 8 - Where
#### Podemos utilizar o WHERE como um verdadeiro filtro, combinando ou não com outros operadores como =, IN, NOT IN e LIKE para os nossos exemplos.

In [0]:
-- 9 - Filtrando os dados com where e =
SELECT
  ID,
  NOME,
  IDADE,
  NATURALIDADE
FROM pilotos_cidades
WHERE NATURALIDADE = 'São Paulo';

ID,NOME,IDADE,NATURALIDADE
1,Ayrton Senna,62,São Paulo
2,Rubens Barrichello,50,São Paulo

9 - In

In [0]:
-- 10 - Filtrando os dados com where e in
SELECT
  ID,
  NOME,
  IDADE,
  NATURALIDADE
FROM pilotos_cidades
WHERE NATURALIDADE IN ("São Paulo", 'Stevenage');

ID,NOME,IDADE,NATURALIDADE
1,Ayrton Senna,62,São Paulo
2,Rubens Barrichello,50,São Paulo
3,Lewis Hamilton,37,Stevenage

10 - Not In

In [0]:
-- 11 - Filtrando os dados com where e not in
SELECT
  ID,
  NOME,
  IDADE,
  NATURALIDADE
FROM pilotos_cidades
WHERE NATURALIDADE NOT IN ("São Paulo", 'Stevenage');

ID,NOME,IDADE,NATURALIDADE
4,Michael Schumacher,53,Hürth
5,Max Verstappen,25,Hasselt

11 - Like

In [0]:
-- 12 - Filtrando os dados com where e like
SELECT
  ID,
  NOME,
  IDADE,
  NATURALIDADE
FROM pilotos_cidades
WHERE NATURALIDADE LIKE "São%";

ID,NOME,IDADE,NATURALIDADE
1,Ayrton Senna,62,São Paulo
2,Rubens Barrichello,50,São Paulo

In [0]:
-- 13 - Filtrando os dados com where e like
SELECT
  ID,
  NOME,
  IDADE,
  NATURALIDADE
FROM pilotos_cidades
WHERE NATURALIDADE LIKE "%ss%";

ID,NOME,IDADE,NATURALIDADE
5,Max Verstappen,25,Hasselt

In [0]:
-- 14 - Filtrando os dados com where e like
SELECT
  ID,
  NOME,
  IDADE,
  NATURALIDADE
FROM pilotos_cidades
WHERE NATURALIDADE LIKE "%th";

ID,NOME,IDADE,NATURALIDADE
4,Michael Schumacher,53,Hürth